.logo {
  display: inline-block;
  overflow: auto;
}


h5 {
  color: grey;

}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  background-color: white;
  border-radius: 20px;
}

header {
  background-color: white; /* Cor de fundo do menu */
  color: black; /* Cor do texto do menu */
  padding: 10px; /* Espaçamento interno do menu */
  position: fixed; /* Fixar o menu no topo */
  top: 0; /* Fixar no topo da página */
  left: 0;
  right: 0;
  z-index: 1000; /* Z-index para manter o menu acima do conteúdo */
  height: 20%;
  display: contents;

}
main {
  margin-top: 20px;
}


.pre-text-scost{
  margin-left: 10px;
  margin-right: 10px;
 /* background-color: #036f2a; */
}

.text-scost{
  
  margin: 20px;
  border-color: black;
  position: relative;
  text-align: center;
  /*background-color: #f71616;*/


  
  
}

.text-scost h2 {
  align-items: center;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  align-self: center;
  text-decoration: solid;
}
.text-scost p {
  text-align: center;
}

.historia {
  height: 80%;
  align-self: end;
  display: contents;
}





  /* Estilize o lado esquerdo como desejar */
  .informacoes {
    float: left;
    width: 50%; /* Ajuste a largura conforme necessário */
    padding: 20px;
}

/* Estilize o lado direito (iframe do mapa) */
.mapa {
    float: right;
    width: 50%; /* Ajuste a largura conforme necessário */
    height: 500px; /* Ajuste a altura conforme necessário */

}

/* carrosel inicial*/ 
body .carousel-inner  {
 width: 100%;
 height: 500px;
}





.imgc {
  width: 100%;
  height: 500px
} 

.leg-car {
  background-color: rgba(0, 0, 0, 0.4);
  align-items:center ;
}

.leg-car h5 {
  color: white;
  opacity: 1.0;
}






















/* carrosel dos ramos */
@-webkit-keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: -400px;
    opacity: 0;
  }
}

@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: -400px;
    opacity: 0;
  }
}

body {
  background: #fff;
  font-family: "Tahoma";
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body #scene {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 1000px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  width: 100%;
  z-index: 2;
;

}

body #scene #left-zone {
  background: #fff;
  height: 75%;
  flex-grow: 0;
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: left;
}

body #scene #left-zone .list {
  display: flex;
  list-style: none;
  align-content: stretch;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

body #scene #left-zone .list li.item input[type=radio] {
  display: none;
}

body #scene #left-zone .list li.item input[type=radio]~label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

body #scene #left-zone .list li.item input[type=radio]~label:first-letter {
  text-transform: uppercase;
}

body #scene #left-zone .list li.item input[type=radio]~label:hover {
  opacity: 0.75;
  cursor: pointer;
}

body #scene #left-zone .list li.item input[type=radio]~label.label_lobinho:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("./img/RamoLobinho.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~label.label_escoteiro:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("./img/RamoEscoteiro.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~label.label_senior:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("./img/RamoSenior.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  align-items: center;
  
}

body #scene #left-zone .list li.item input[type=radio]~label.label_pioneiro:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("./img/RamoPioneiro.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~.content {
  position: absolute;
  left: 350px;
  top: -400px;
  width: 650px;
  height: 400px;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: slideout;
  animation-name: slideout;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



body #scene #left-zone .list li.item input[type=radio]~.content.content_lobinho .picto {
  height: 100px;
  width: 100px;
  background-image: url("./img/RamoLobinho.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_lobinho h1 {
  color: #F5D76E;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_escoteiro .picto {
  height: 100px;
  width: 100px;
  background-image: url("./img/RamoEscoteiro.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_escoteiro h1 {
  color: #036f2a;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_senior .picto {
  height: 100px;
  width: 100px;
  background-image: url("./img/RamoSenior.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_senior h1 {
  color: #93244e;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_pioneiro .picto {
  height: 100px;
  width: 100px;
  background-image: url("./img/RamoPioneiro.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_pioneiro h1 {
  color: #f71616;
}

body #scene #left-zone .list li.item input[type=radio]~.content h1:first-letter {
  text-transform: uppercase;
}

body #scene #left-zone .list li.item input[type=radio]~.content p {
  max-width: 50%;
  text-align: center;
}

body #scene #left-zone .list li.item input[type=radio]:checked~label {
  opacity: 1;
  -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body #scene #left-zone .list li.item input[type=radio]:checked~label.label_lobinho {
  color: #F5D76E;
  border-right: solid 4px #F5D76E;
}

body #scene #left-zone .list li.item input[type=radio]:checked~label.label_escoteiro {
  color: #036f2a;
  border-right: solid 4px #036f2a;
}

body #scene #left-zone .list li.item input[type=radio]:checked~label.label_senior {
  color: #93244e;
  border-right: solid 4px #93244e;
}

body #scene #left-zone .list li.item input[type=radio]:checked~label.label_pioneiro {
  color: #f71616;
  border-right: solid 4px #f71616;
}

body #scene #left-zone .list li.item input[type=radio]:checked~.content {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body #scene #middle-border {
  background-color: #eee;
  height: 75%;
  flex-grow: 1;
  max-width: 2px;
  z-index: 0;
}

body #scene #right-zone {
  background: #fff;
  height: 100%;
  flex-grow: 3;
}







@media screen and (max-width: 768px ) {
  .logo-inicial{
    display: none;
  }

  .mapa {
    width: 100%;
    z-index: 5;
    ;
  }
  .mapa iframe{
   width: 100%;
  }
}